* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
}

:root {
  --primary-color: #191d2b;
  --second-color: gold;
  --white-color: #ffffff;
  --black-color: #000;
  --lightGrey-color: #f8f8f8;
  --grey-color-1: #dbe1e8;
  --grey-color-2: #b2becd;
  --grey-color-3: #6c7983;
  --grey-color-4: #454e56;
  --grey-color-5: #2a2e35;
  --grey-color-6: #12181b;
  --br-sm-2: 14px;
  --botton-shadow: rgba(0, 0, 0, .32);
  --box-shadow1: 0 3px 15px var(--botton-shadow);
  --icon--color: white;
}

.theme-btn {
  top: 5%;
  right: 3%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--color-grey-4);
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px var(--botton-shadow);
  transition: all 0.1s ease-in-out;
}
.theme-btn:active {
  transform: translateY(-3px);
}
.theme-btn i {
  font-size: 1.4rem;
  color: var(--color-grey-2);
  pointer-events: none;
}

.light-mode {
  --primary-color: #FFFFFF;
  --second-color: gold;
  --white-color: #454e56;
  --black-color: #000;
  --lightGrey-color: #f8f8f8;
  --grey-color-1: #6c7983;
  --grey-color-2: #6c7983;
  --grey-color-3: #6c7983;
  --grey-color-4: #454e56;
  --grey-color-5: #f8f8f8;
  --grey-color-6: #12181b;
  --botton-shadow: rgb(228 151 175);
  --icon--color: white;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
  color: var(--white-color);
  transition: all 0.4s ease-in-out;
}

a {
  display: inline;
  text-decoration: none;
}

header {
  min-height: 100vh;
  color: var(--color-white);
  overflow: hidden;
  padding: 0 !important;
}

.container {
  display: none;
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 11rem;
}

.active {
  display: block;
  animation: appear 0.7s ease-in-out;
  transform: translateY(0) scaleY(1);
  background-repeat:  ;
}

@keyframes appear {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}
/* controlls */
.controlls {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  z-index: 19;
  justify-content: center;
  align-items: center;
}
.controlls .control {
  cursor: pointer;
  background-color: var(--grey-color-4);
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 55px;
  height: 55px;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 1px 3px 15px var(--botton-shadow);
}
.controlls .control i {
  font-size: 20px;
  pointer-events: none;
  color: var(--icon--color);
}
.controlls .active-btn {
  transition: all 0.4s ease-in-out;
  background-color: var(--second-color);
}

.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
}
.header-content .leftContent {
  position: relative;
  display: flex;
  align-items: center;
}
.header-content .leftContent .shape {
  transition: all 0.4s ease-in-out;
  width: 65%;
  height: 100%;
  background-color: var(--second-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
          clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
}
.header-content .leftContent .image {
  border-radius: var(--br-sm-2);
  height: 90%;
  width: 68%;
  margin-left: 4rem;
  background-color: var(--black-color);
}
.header-content .leftContent .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  transition: all 0.2s ease-in-out;
  border-radius: var(--br-sm-2);
  border: none;
}
.header-content .leftContent .image img:hover {
  border: 8px solid var(--grey-color-1);
}
.header-content .rightContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
}
.header-content .rightContent .name {
  font-size: 3rem;
}
.header-content .rightContent .name span {
  color: var(--second-color);
}
.header-content .rightContent p {
  margin: 1.5rem 0;
  line-height: 2rem;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3.5rem 0 5rem 0;
}
.about-container .right-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.about-container .right-about .about-item {
  border-radius: 5px;
  box-shadow: 1px 2px 15px var(--botton-shadow);
  transition: all 0.4s ease-in-out;
  border: 1px solid var(--grey-color-5);
}
.about-container .right-about .about-item:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--second-color);
  box-shadow: 1px 4px 15px var(--botton-shadow);
}
.about-container .right-about .about-item .abt-text {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
}
.about-container .right-about .about-item .abt-text .large-text {
  font-size: 3rem;
  font-weight: 700;
  color: var(--second-color);
}
.about-container .right-about .about-item .abt-text .small-text {
  padding-left: 3rem;
  position: relative;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--grey-color-1);
  letter-spacing: 2px;
}
.about-container .right-about .about-item .abt-text .small-text::before {
  content: "";
  left: 0;
  top: 15px;
  width: 2rem;
  height: 2px;
  background-color: var(--grey-color-5);
}
.about-container .left-about {
  padding-right: 5rem;
}
.about-container .left-about p {
  line-height: 2rem;
  padding: 1rem 0;
  color: var(--grey-color-1);
}
.about-container .left-about h4 {
  font-size: 2rem;
  text-transform: uppercase;
}

.start-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  position: relative;
  padding: 3.5rem 0px;
}
.start-title::before {
  content: "";
  left: 50%;
  top: 5px;
  width: 32%;
  height: 1px;
  background-color: var(--grey-color-5);
  position: absolute;
  transform: translateX(-50%);
}

.skills {
  padding-bottom: 4rem;
}
.skills .cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap !important;
}
.skills .cont .mainSkill-box {
  border-radius: 5px;
  box-shadow: 1px 2px 15px var(--botton-shadow);
  transition: all 0.4s ease-in-out;
  border: 2px solid var(--grey-color-6);
  background-color: var(--grey-color-4);
  color: var(--icon--color);
  padding: 0.8rem 1.4rem;
}
.skills .cont .mainSkill-box:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--second-color);
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.6);
}

.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding-bottom: 3rem;
}
.timeline .timeline-item {
  position: relative;
  padding-left: 3rem;
  border-left: 2px solid var(--grey-color-5);
}
.timeline .timeline-item .tl-icon {
  position: absolute;
  left: -27px;
  top: 0;
  background-color: var(--second-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon--color);
}
.timeline .timeline-item .tl-duration {
  padding: 0.2rem 0.6rem;
  background-color: var(--grey-color-5);
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}
.timeline .timeline-item h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
}
.timeline .timeline-item h5 span {
  color: var(--grey-color-2);
  font-weight: 500;
  font-size: 1.2rem;
}
.timeline .timeline-item p {
  color: var(--grey-color-2);
}

.port-text {
  padding: 2rem 0;
  text-align: center;
}

.portfolios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}
.portfolios .portfolio-item {
  position: relative;
  border-radius: 15px;
}
.portfolios .portfolio-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.portfolios .portfolio-item .hover-items {
  width: 100%;
  height: 100%;
  background-color: var(--second-color);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
}
.portfolios .portfolio-item .hover-items h3 {
  font-size: 1.5rem;
  color: var(--color-white);
  margin-bottom: 1.5rem;
}
.portfolios .portfolio-item .hover-items .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolios .portfolio-item .hover-items .icons .icon {
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-items .icons .icon i {
  font-size: 1.5rem;
  margin: 0 1rem;
}
.portfolios .portfolio-item .hover-items .icons .icon:hover {
  background-color: var(--white-color);
}
.portfolios .portfolio-item .hover-items .icons .icon:hover i {
  color: var(--color-primary);
}

.portfolio-item:hover .hover-items {
  opacity: 1;
  transform: scale(1);
}

.main-btn {
  border-radius: 30px;
  font-weight: 600;
  position: relative;
  color: inherit;
  border: 1px solid var(--second-color);
  align-items: center;
  display: flex;
  align-self: flex-start;
  overflow: hidden;
  transition: all 0.4s ease-out;
  width: -moz-max-content;
  width: max-content;
}
.main-btn .btn-text {
  padding: 0 2rem;
}
.main-btn .btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--second-color);
  border-radius: 50%;
  padding: 1rem;
  position: relative;
  transition: all 0.4s ease-out;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  z-index: -1;
  transition: all 0.4s ease-out;
}
.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--second-color);
  transform: translateX(0);
}

.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}
.blogs .blog {
  position: relative;
  background-color: var(--grey-color-5);
  border-radius: 5px;
  box-shadow: 1px 1px 20px var(--botton-shadow);
  transition: all 0.4s ease-in-out;
}
.blogs .blog:hover {
  box-shadow: 1px 1px 20px;
  transform: translateY(-5px);
  transition: all 0.4s ease-in-out;
}
.blogs .blog:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
}
.blogs .blog img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  filter: grayscale(100%);
  transition: all 0.4s ease-in-out;
}
.blogs .blog .blog-text {
  margin-top: -7px;
  padding: 1.1rem;
  border-top: 8px solid var(--second-color);
}
.blogs .blog .blog-text h4 {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.blogs .blog .blog-text h4:hover {
  color: var(--second-color);
}
.blogs .blog .blog-text p {
  color: var(--grey-color-2);
  line-height: 2rem;
  padding-bottom: 1rem;
}

.contact-content-con {
  display: flex;
  padding-top: 3.5rem;
}
.contact-content-con .left-contact {
  flex: 2;
}
.contact-content-con .left-contact h4 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}
.contact-content-con .left-contact p {
  margin: 1rem 0;
  line-height: 2rem;
}
.contact-content-con .left-contact .contact-info .contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-content-con .left-contact .contact-info .contact-item p {
  margin: 0.3rem 0 !important;
  padding: 0 !important;
}
.contact-content-con .left-contact .contact-info .contact-item .icon {
  display: grid;
  grid-template-columns: 40px 1fr;
}
.contact-content-con .left-contact .contact-info .contact-item .icon i {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  color: var(--icon--color);
}
.contact-content-con .left-contact .contact-icon {
  display: flex;
  margin-top: 2rem;
}
.contact-content-con .left-contact .contact-icon a {
  display: flex;
  align-items: center;
  color: var(--color-white);
  background-color: var(--grey-color-5);
  cursor: pointer;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 0.4rem;
  transition: all 0.4s ease-in-out;
}
.contact-content-con .left-contact .contact-icon a:hover {
  background-color: var(--second-color);
}
.contact-content-con .left-contact .contact-icon a:hover i {
  color: var(--primary-color);
}
.contact-content-con .left-contact .contact-icon a i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
.contact-content-con .right-contact {
  flex: 3;
  margin-left: 3rem;
}
.contact-content-con .right-contact .input-control {
  margin: 1.5rem 0;
}
.contact-content-con .right-contact .input-control input, .contact-content-con .right-contact .input-control textarea {
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  background-color: var(--grey-color-5);
  width: 100%;
  color: var(--icon--color);
  resize: none;
}
.contact-content-con .right-contact .i-c-2 {
  display: flex;
}
.contact-content-con .right-contact .i-c-2 :last-child {
  margin-left: 1.5rem;
}
.contact-content-con .right-contact .submit-btn {
  display: flex;
  justify-content: flex-start;
}

.main-title {
  text-align: center;
}
.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}
.main-title h2 span {
  color: var(--second-color);
}
.main-title h2 .bg-text {
  position: absolute;
  width: 30%;
  top: 50%;
  transition: all 0.4s ease-in-out;
  font-weight: 800;
  left: 50%;
  top: 50%;
  color: var(--grey-color-5);
  z-index: -1;
  font-size: 6.3rem;
  transform: translate(-50%, -50%);
}

.about-container .left-about p {
  padding-left: 0;
}

@media screen and (max-width: 600px) {
  header {
    padding: 0 !important;
  }
  .theme-btn {
    width: 50px;
    height: 50px;
  }
  .header-content {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }
  .leftContent .h-shape {
    display: none;
  }
  .rightContent {
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;
  }
  .rightContent .name {
    font-size: 2.5rem !important;
    text-align: center;
    padding-top: 3rem;
  }
  .header-content .leftContent .image {
    margin: 0 auto;
    width: 90%;
  }
  .controlls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
  }
  .controlls .control {
    margin: 1rem 0.3rem;
  }
  .about-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-container .right-about {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 2.5rem;
  }
  .about-container .left-about {
    padding-right: 0;
  }
  .about-container .left-about p {
    padding-left: 0;
  }
  .timeline {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }
  .container {
    padding: 2rem 2.5rem !important;
  }
  .portfolios {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
    margin-top: 1rem;
  }
  .blogs {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }
  .contact-content-con {
    flex-direction: column;
  }
  .contact-content-con .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .contact-content-con .right-contact .i-c-2 {
    flex-direction: column;
  }
  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .contact-content-con .right-contact {
    margin-bottom: 6rem;
  }
  .contact-item {
    flex-direction: column;
    margin: 1rem 0;
  }
  .contact-item p {
    font-size: 15px;
    color: var(--color-grey-2);
  }
  .contact-item span {
    font-size: 15px;
  }
  .contact-item .icon {
    grid-template-columns: 25px 1fr;
  }
  .main-title h2 {
    font-size: 2rem;
  }
  .main-title h2 span {
    font-size: 2.3rem;
  }
  .main-title h2 .bg-text {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 1432px) {
  .container {
    padding: 7rem 11rem;
  }
  .contact-content-con {
    flex-direction: column;
  }
  .contact-content-con .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .contact-content-con .right-contact .i-c-2 {
    flex-direction: column;
  }
  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .contact-content-con .right-contact {
    margin-bottom: 6rem;
  }
  .main-title h2 .bg-text {
    font-size: 5.5rem;
  }
}
@media screen and (max-width: 1250px) {
  .blogs {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 6rem;
  }
  .portfolios {
    grid-template-columns: repeat(2, 1fr);
  }
  .header-content .rightContent {
    padding-right: 9rem;
  }
}
@media screen and (max-width: 660px) {
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolios {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 1070px) {
  .about-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-container .right-about {
    padding-top: 2.5rem;
  }
  .main-title h2 {
    font-size: 4rem;
  }
  .main-title h2 span {
    font-size: 4rem;
  }
  .main-title h2 .bg-text {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 970px) {
  .container {
    padding: 7rem 6rem;
  }
  .about-container .left-about {
    padding-right: 0rem;
  }
  .header-content {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }
  .leftContent .shape {
    display: none;
  }
  .leftContent .image {
    width: 90% !important;
    margin: 0 auto !important;
  }
  .rightContent {
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;
  }
  .rightContent .name {
    font-size: 2.5rem !important;
    text-align: center;
    padding-top: 3rem;
  }
}
@media screen and (max-width: 700px) {
  .container {
    padding: 7rem 3rem;
  }
  .about-stats .progress-bars {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-container .right-about {
    grid-template-columns: repeat(1, 1fr);
  }
  .timeline {
    grid-template-columns: repeat(1, 1fr);
  }
  .main-title h2 {
    font-size: 3rem;
  }
  .main-title h2 span {
    font-size: 3rem;
  }
  .main-title h2 .bg-text {
    font-size: 4rem;
  }
}/*# sourceMappingURL=styles.css.map */